.mobile-base-mobile {
  background: #f4f4f5;
  position: relative;
  margin: auto;
  color: #282c3f;
}

a {
  text-decoration: none;
  color: inherit;
}

#mobileCart {
  background: #f4f4f5;
  min-height: 100vh;
  padding-top: 58px;
}

.mobile-address-block {
  margin-bottom: 16px;
  background-color: #ffffff;
  padding: 11px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  z-index: 20;
  width: 100%;
}

.address-base-title {
  font-size: 14px;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.address-base-highlight {
  font-size: 14px;
  font-weight: 700;
  white-space: pre;
}

.address-base-subText {
  font-size: 12px;
  line-height: 15px;
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  max-width: 90%;
}

.address-error {
  border: 1px solid rgba(255, 90, 90, 0.9);
  border-radius: 4px;
}

.address-warning {
  color: rgba(255, 90, 90, 0.9);
  font-weight: 600;
  font-size: 13px;
}

.addressMobile-addButton {
  font-size: 14px;
  font-weight: 700;
  color: #20bd99;
  margin-right: 4px;
  position: relative;
  border: none;
  background: #fff;
}

.msg-container {
  display: flex;
  flex-direction: column;
}

.bulkActionStrip-mobileContainer {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
  font-weight: 700;
  padding: 0 0 0 4px;
  color: #535766;
  height: 24px;
}

.bulkActionStrip-message {
  margin-left: 4px;
  display: flex;
  flex-wrap: wrap;
  flex: 1;
}

.bulkActionStrip-totalItems {
  margin-right: 3px;
  text-transform: uppercase;
}

.bulkActionStrip-totalAmount {
  color: #20bd99;
}

.bulkActionStrip-mobileButtonContainer {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.bulkActionStrip-iconDiv {
  display: flex;
  height: 32px;
  align-items: center;
  width: 32px;
  justify-content: center;
  margin-right: 9px;
}

.itemContainer-base-itemMargin {
  margin-bottom: 8px;
}

.item-base-item:last-child {
  margin-bottom: 0px;
}

.item-base-item {
  position: relative;
  margin-bottom: 8px;
}

.itemContainer-base-item {
  background: white;
  font-size: 14px;
  padding: 12px 8px 1px 8px;
  margin-bottom: 8px;
  position: relative;
  display: flow-root;
}

.itemContainer-base-item:last-child {
  margin-bottom: 0px;
}

.itemContainer-base-itemLeft {
  float: left;
}

.image-base-imgResponsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.itemContainer-base-itemRight {
  margin-left: 111px;
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-bottom: 12px;
}

.itemContainer-base-details {
  margin-bottom: 10px;
}
.itemContainer-base-details,
.itemContainer-base-itemLink {
  text-decoration: none;
  padding-bottom: 0;
  margin-right: 12px;
}

.itemContainer-base-brand {
  font-weight: 700;
  font-size: 13px;
}
.itemContainer-base-brand {
  margin-bottom: 4px;
}

.itemContainer-base-itemName,
.itemContainer-base-brand,
.itemContainer-base-itemLink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 16px;
}

.itemContainer-base-itemLink {
  display: block;
}

.itemComponents-base-quantity {
  display: inline-block;
  white-space: nowrap;
  padding: 2px 8px;
  background: #f5f5f6;
  color: #282c3f;
  font-weight: 700;
  cursor: pointer;
  border-radius: 2px;
  line-height: 16px;
  margin-top: 8px;
}

.itemComponents-base-dropDown {
  font-size: 16px;
  color: #282c3f;
  cursor: pointer;
  margin-left: 5px;
  position: relative;
  top: -2px;
}

.itemContainer-base-price {
  display: flex;
  white-space: nowrap;
  flex-wrap: wrap;
  gap: 0px;
  padding-right: 5px;
  margin-top: 12px;
  color: #282c3f;
  line-height: 18px;
}

.itemComponents-base-bold {
  font-weight: 700;
}

.itemComponents-base-price {
  display: inline-block;
  color: #282c3f;
}

.returnPeriod-base-returnItem {
  display: inline-flex;
  font-size: 12px;
  padding-top: 8px;
}

.returnPeriod-base-returnIcon {
  padding-top: 2px;
}

.returnPeriod-base-returnText {
  margin-left: 6px;
}

.returnPeriod-base-returnDays {
  font-weight: 700;
}

.addToWishlist-base-mainBlock {
  background: #ffffff;
}

.itemContainer-base-closeIcon {
  position: absolute;
  top: 12px;
  right: 11px;
  width: 10px;
  height: 10px;
}

@media (max-width: 480px) {
  .addToWishlist-base-wishlistBlock {
    border: none;
    border-radius: 0px;
  }
}
.addToWishlist-base-wishlistBlockWithoutTray {
  padding: 16px 12px 16px 16px;
}
.addToWishlist-base-wishlistBlock {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #ffffff;
  color: inherit;
  position: relative;
  font-weight: 700;
  margin-top: 24px;
}

@media (min-width: 768px) {
  .addToWishlist-base-wishlistBlock {
    border: 1px solid #eaeaec;
    border-radius: 4px;
    padding: 16px 12px 16px 16px;
  }
}

.addToWishlist-base-wishlistIcon {
  margin-right: 10px;
}

.addToWishlist-base-wishlistText {
  display: flex;
  flex: 1;
  font-size: 14px;
  color: #282c3f;
}

.itemDelivery-estimate {
  margin-top: 4px;
}

.itemDelivery-baseMessage {
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
  white-space: pre-wrap;
  text-align: center;
}

.itemDelivery-estimateContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.itemDelivery-iconBase {
  height: 21px;
}

.itemDelivery-check {
  fill: #03a685;
  margin-right: 8px;
  height: 10px;
  width: 12px;
  vertical-align: middle;
}

.itemDelivery-messageText {
  display: inline-block;
}

.itemDelivery-baseMessage {
  color: #282c3f;
  font-size: 12px;
  letter-spacing: -0.1px;
  margin-bottom: 8px;
  line-height: 15px;
  white-space: pre-wrap;
  text-align: center;
}

.priceBlock-base-container {
  margin-top: 16px;
  background: #ffffff;
  padding: 16px;
}

.priceBlock-base-priceHeader {
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 700;
  border-bottom: 1px solid #f5f5f6;
}

.priceBlock-base-priceBreakUpContainer {
  padding-top: 16px;
}

.priceBreakUp-base-orderSummary {
  font-size: 14px;
}

.priceDetail-base-row {
  margin-bottom: 12px;
  line-height: 16px;
}

.priceDetail-base-value {
  float: right;
}

.tint {
  color: #20bd99;
}

.priceDetail-base-total {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
  color: #3e4152;
  line-height: 16px;
}

.stickyButton-base-extraPaddingTop {
  padding-top: 20px;
}
.stickyButton-base-StickyComponent {
  position: relative;
  margin-bottom: 40px;
  border: none;
  padding-bottom: 20px;
}

.stickyButton-base-stickyButton {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  border-top: 1px solid #d4d5d9;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 11;
}

.placeOrder-base-itemSelectedStrip {
  background-color: rgb(223, 250, 243);
  font-size: 12px;
  padding: 4px 0 5px 0;
  text-align: center;
  font-weight: 700;
  color: #282c3f;
}

.stickyButton-base-container {
  padding: 10px;
  display: flex;
  align-items: center;
}

.stickyButton-base-fullWidthButton {
  width: 100%;
  margin-bottom: 10px;
}

.stickyButton-base-placeOrderButton {
  padding: 10px;
  float: right;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d4d5d9;
  background-color: #20bd99;
  color: #ffffff;
  border-radius: 4px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}
