.cancellation-form-container {
  position: relative;
}

.cancel-item-card {
  background-color: #fff;
}

@media (min-width: 780px) {
  .cancel-item-card {
    margin-top: 16px;
    box-shadow: 0 0.5px 2.5px 2px rgba(40, 44, 63, 0.07);
  }
}

.cancel-itemBoxWrapper {
  padding: 12px !important;
}

.cancel-box {
  overflow: scroll;
}

.cancel-box,
.cancelItem-price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}

.cancel-cancel-box {
  margin-right: 16px;
}

.cancel-item-list {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  border-radius: 4px;
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  text-align: left;
  border-radius: 8px;
}

.cancelRadius {
  border-radius: 12px !important;
}

.cancelItemTop {
  margin-top: 6px;
}

.cancelItem-price {
  vertical-align: top;
  margin-right: 10px;
  font-weight: 800;
  color: #3e4152;
}

.cancel-item-card .eligible {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  font-size: 14px;
  padding: 16px 12px 14px;
}

.eligible-icon {
  vertical-align: middle;
  display: inline-block;
}

.eligible-returnIcon {
  height: 18px;
  width: 18px;
}

.eligible-text {
  display: inline-block;
  margin-left: 8px !important;
}

.reasonForm {
  padding-bottom: 70px;
}

@media (min-width: 780px) {
  .reasonForm {
    padding-bottom: 0;
  }
}

.reasonForm .reason-card {
  padding: 12px 16px;
  background: #fff;
  font-size: 14px;
  margin: 13px 0;
}

.reasonForm hr {
  border: 0;
  border-top: 1px solid #eaeaec;
  margin: 15px 0;
}

.cancel-radio-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  cursor: pointer;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.cancel-radio {
  margin-bottom: 14px;
}

.cancelOption {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.radio-label {
  margin-left: 8px;
  cursor: pointer;
}

@media (min-width: 780px) {
  .cta-footerContainer {
    position: relative !important;
  }
}

.cta-ctaWrapper,
.cta-footerContainer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
}
.cta-footerContainer {
  padding: 12px;
  gap: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -moz-box-orient: vertical;
  -moz-box-direction: normal;
  flex-direction: column;
  background-color: #fff;
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 0;
  z-index: 2;
  margin-top: 14px;
}

.cta-card {
  padding: 12px 16px;
  background: #fff;
  font-size: 14px;
  margin: 13px 0;
}

.cta-ctaWrapper {
  margin: 0 !important;
}

.cta-ctaWrapper .cta-ctaInfoSection {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}

.cta-ctaWrapper .cta-ctaInfoSection .cta-ctaHeader {
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 4px 0;
}

.cta-ctaWrapper .cta-ctaInfoSection .cta-ctaText {
  font-weight: 700;
  font-size: 18px;
}

.cta-ctaWrapper .cta-ctaActionWithIcon {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.cta-ctaWrapper .cta-ctaAction {
  border: 1px solid transparent;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  padding: 10px;
  background-color: #20bd99;
  color: #fff;
  text-align: initial;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -moz-box-pack: center;
  justify-content: center;
}

.cta-ctaWrapper .cta-ctaAction .cta-arrow {
  background: url("../../assets/icons/cancel-arrow.png") no-repeat;
  width: 22px;
  height: 22px;
  -webkit-background-size: cover;
  background-size: cover;
  display: inline-block;
}

.cancel-success-outer {
  background-color: #fff;
  padding-left: 12px;
  padding-right: 12px;
}

.cancel-success-successBlock {
  text-align: center;
  border-bottom: 1px solid #eaeaec;
  padding-top: 12px;
}

.cancel-success-icon {
  height: 60px;
  width: 60px;
  margin-top: 20px;
}

.cancel-success-text {
  margin-top: 5px !important;
  margin-bottom: 19.5px !important;
  color: #282c3f;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.cancelledItemsShow {
  margin-top: 19.5px;
}

.cancelledItemsText {
  font-weight: 700;
  color: #282c3f;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

.cancelInfoBlock {
  padding-bottom: 20px;
}

.cancelInfoBlock-block {
  margin-top: 20px;
}

.cancelInfoBlock-icon {
  position: relative;
  display: inline-block;
  height: 14px;
  width: 14px;
  vertical-align: top;
}

.cancelInfoBlock-right {
  display: inline-block;
  margin-left: 15px;
  width: 80%;
}

.refundDetails {
  font-size: 10px;
  color: #696e79;
}

.infoInfo {
  margin-top: 4px;
  font-weight: 400;
  color: #282c3f;
  margin: 0;
  font-size: 14px;
  line-height: 18px;
}

.cancel-success-bottom {
  z-index: 200;
  bottom: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  padding: 16px 12px;
}

@media (min-width: 779px) {
  .cancel-success-bottom {
    margin-top: 24%;
  }
}

.cancel-success-bottom-done {
  outline: none;
  height: 40px;
  width: 100%;
  background-color: #20bd99;
  color: #fff;
  border: none;
  font-weight: 700;
  font-size: 15px;
  border-radius: 3px;
  cursor: pointer;
}

.cancel-error-container {
  line-height: 21px;
  margin: 12px -16px;
  padding: 8px 36px 9px 16px;
  background-color: #fff3ef;
  color: #ff5722;
}
