.application-base {
  color: inherit;
  /* margin-top: 5px; */
}

.mobile {
  height: 100%;
}

@media all and (min-width: 980px) {
  .application-base {
    margin-top: 50px;
  }
}

.full-height {
  height: 100%;
}

.page-page {
  background-color: #f5f5f6;
}

@media (min-width: 780px) {
  .page-page {
    margin: 10% 5%;
    min-height: 650px;
    background-color: white;
  }
}

.account-account {
  display: none;
  border-bottom: 1px solid #d4d5d9;
  padding: 15px 0px;
  font-size: 12px;
}

@media (min-width: 780px) {
  .account-account {
    display: block;
  }
}

.account-heading {
  font-size: 18px;
  font-weight: 800;
}

.sidebar-sidebar {
  vertical-align: top;
  display: none;
  border-right: 1px solid #d4d5d9;
  box-shadow-right: 1px 1px 5px #888888;
  text-align: left;
  padding: 0px 25px 0px 0px;
  font-size: 15px;
}

@media (min-width: 780px) {
  .sidebar-sidebar {
    display: inline-block;
  }
}

.segment-segment:first-child {
  border-top: none;
}

.segment-segment {
  border-top: 1px solid #d4d5d9;
  padding: 20px 0px;
  width: 145px;
}

.segment-activeLink {
  color: #14cda8;
  font-weight: 800;
}

.segment-link {
  display: block;
  margin: 5px 0px;
}

.segment-heading {
  color: #7e818c;
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 0px;
}

.pageMainComponent {
  font-size: 14px;
  box-sizing: border-box;
}

@media (min-width: 780px) {
  .pageMainComponent {
    padding: 10px;
    width: 71%;
    display: inline-block;
    box-sizing: border-box;
    margin: 5px;
  }
}

@media (min-width: 780px) {
  .page-pageStyle {
    background-color: #f5f5f5;
    padding: 12px;
  }
}

.user-user {
  padding-bottom: 25px;
  background-color: white;
}

@media (min-width: 780px) {
  .user-user {
    margin-bottom: 35px;
    padding-bottom: unset;
    background-color: none;
  }

  .user-user .userMinInfo {
    display: none;
  }
}

.user-user .user-bg {
  position: relative;
  background: #f5f5f6;
  height: 180px;
  padding: 25px 30px;
}

.user-user .user-bg .user-wrapper {
  text-align: center;
}

.user-user .user-bg .user-wrapper .user-default {
  height: 130px;
  width: 130px;
  float: left;
  display: inline;
}

.user-user .user-bg .user-wrapper .userDefaultImage {
  height: 130px;
  width: 130px;
  background-image: url("../../assets/images/defaultUser.png");
  background-size: contain;
  background-repeat: no-repeat;
  transform: translate(-50%, 0%);
  position: absolute;
  top: 45%;
  left: 50%;
}

@media (min-width: 780px) {
  .user-user .user-bg .user-wrapper .userDefaultImage {
    position: unset;
    transform: none;
  }
}

.user-user .user-bg .user-wrapper .user-info {
  height: 130px;
  width: auto;
  float: left;
  display: inline;
  position: absolute;
  text-align: left;
  left: 190px;
  right: 30px;
  display: none;
}

.user-user .userMinInfo {
  text-align: center;
  margin-top: 50px;
}

@media (min-width: 780px) {
  .user-user .user-bg .user-wrapper .user-info {
    display: block;
  }
}

.user-user .user-bg .user-wrapper .userEditProfile {
  display: inline-block;
  float: right;
  cursor: pointer;
  border: 1px solid #3e4152;
  padding: 4px 8px;
  border-radius: 2px;
  color: #3e4152;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.6);
}

.user-user .user-bg .user-wrapper .user-email {
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  transform: translate(0%, -50%);
}

.user-dashboard-data {
  width: 100%;
  position: relative;
}

table.dataMainContainer {
  width: 100%;
  border-collapse: collapse;
}

.dataMainContainer {
  display: none;
}

@media (min-width: 780px) {
  .dataMainContainer {
    display: table;
  }
}

table.dataMainContainer td {
  width: 30%;
  position: relative;
}

table.dataMainContainer td {
  border: 20px solid transparent;
}

table.dataMainContainer tr td:first-child {
  border-left: 0;
}

table.dataMainContainer tr:first-child td {
  border-top: 0;
}

table.dataMainContainer td:after {
  content: "";
  display: block;
  margin-top: 100%;
}

.link-card {
  cursor: pointer;
  padding: 16px;
  background: white;
  border-bottom: 1px solid #f5f5f6;
  display: block;
}

.link-card .link-content {
  position: relative;
}

.link-card .link-icon {
  display: inline-block;
  width: 24px;
  margin-right: 16px;
  vertical-align: top;
  opacity: 0.7;
  top: 50%;
  left: 0;
  position: absolute;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.link-card .link-labels {
  display: inline-block;
  width: 80%;
  margin-left: 40px;
}

.link-card .link-labels .link-label {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 4px;
}

@media (min-width: 780px) {
  .link-card:last-child {
    border: 0.5px solid #eaeaec;
  }

  .link-card {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    border: 0.5px solid #eaeaec;
    padding: 12px;
  }
  .link-card .link-content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    padding: 0px 12px;
    -webkit-transform: translate(0%, -50%);
    -moz-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }

  .link-card .link-icon {
    display: block;
    margin: auto;
    opacity: 1;
    width: 32px;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    transform: none;
    position: unset;
  }

  .link-card .link-labels {
    width: 100%;
    margin-left: 0px;
  }
  .link-card .link-labels .link-label {
    margin-top: 18px;
  }

  .link-card .link-labels .link-subLabel {
    min-height: 25px;
  }

  .link-card .link-arrow {
    display: none;
  }

  .link-card:hover {
    background-color: #f5f5f6;
  }
}

.link-card .link-labels .link-subLabel {
  font-size: 12px;
  color: #94969f;
}

@media (min-width: 980px) {
  .page-page {
    margin: 8% auto;
    max-width: 980px;
  }
}

.dashboard-mobileContainer {
  display: block;
  position: relative;
}

@media (min-width: 780px) {
  .dashboard-mobileContainer {
    display: none;
  }
}

.dashboard-section {
  margin: 10px 0px;
}

.dashboard-logout {
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  background-color: #ff5a5a;
  margin: 30px 10px 30px 10px;
  border: 1px solid #d4d5d9;
  color: white;
  border-radius: 5px;
}

@media (min-width: 780px) {
  .dashboard-logout {
    width: 250px;
    margin: 30px 10px 30px 0px;
  }
}

.footer-card {
  cursor: pointer;
  padding: 16px;
  background: white;
  display: block;
}

.footer-card .footer-content {
  margin-left: 40px;
  opacity: 0.7;
  font-size: 11px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
}

/* =====================
   WRAPPER
===================== */
.mobileNav-secondary {
  width: 100%;
  height: 50px;
}

/* =====================
   HEADER
===================== */
.mobile-header {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px;

  background: #fff;
  box-shadow: 0 1px 4px 0 #d4d5d9;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

/* =====================
   LEFT SECTION
===================== */
.mobile-left {
  display: flex;
  align-items: center;
}

/* Hamburger */
.mobile-leftNavBar {
  display: inline-block;
  margin-right: 10px;
}

.hamburger-hamburger {
  width: 22px;
  height: 22px;
  background-position: -348px 0;
}

/* Logo */
.svgImages-novaCartLogo {
  background: url("../../assets/icons/nc-logo.png") no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.mobile-ncLogo {
  width: 50px;
  height: 35px;
}

/* =====================
   RIGHT SECTION
===================== */
.mobile-right {
  display: flex;
  align-items: center;
  gap: 18px;
}

/* Bag */
.svgImages-bag {
  background: url("../../assets/icons/bag.png") no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.mobile-bag {
  width: 23px;
  height: 23px;
}

/* Profile */
.svgImages-profile {
  background: url("../../assets/icons/profile.png") no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.mobile-user {
  width: 18px;
  height: 18px;
}

/* Search */
.svgImages-mSearch {
  background: url("../../assets/icons/magnifying-glass-search.png") no-repeat;
  background-size: contain;
  background-position: center;
  display: inline-block;
}

.mobileSearch {
  width: 18px;
  height: 18px;
}

.myInput-inputRow {
  position: relative;
  margin: 40px 0px 0px 0px;
}

.myInput-inputRow.myInput-md {
  margin: 30px 0px 0px 0px;
}

.myInput-inputRow.myInput-lg {
  margin: 40px 0px 0px 0px;
}

.myInput-inputRow.myInput-lg input[type="text"],
.myInput-inputRow.myInput-lg input[type="password"],
.myInput-inputRow.myInput-lg input[type="number"],
.myInput-inputRow.myInput-lg input[type="tel"] {
  font-size: 16px;
}

.myInput-inputRow.myInput-lg input[type="text"]:focus + label,
.myInput-inputRow.myInput-lg input[type="password"]:focus + label,
.myInput-inputRow.myInput-lg input[type="number"]:focus + label,
.myInput-inputRow.myInput-lg input[type="tel"]:focus + label {
  top: -20px;
}

.myInput-inputRow.myInput-lg .myInput-label {
  font-size: 16px;
}

.myInput-inputRow.myInput-lg .myInput-labelTop {
  top: -20px;
  font-size: 12px;
}

.myInput-inputRow.myInput-md {
  margin: 30px 0px 0px 0px;
}

.myInput-inputRow.myInput-md input[type="text"],
.myInput-inputRow.myInput-md input[type="password"],
.myInput-inputRow.myInput-md input[type="number"],
.myInput-inputRow.myInput-md input[type="tel"] {
  font-size: 15px;
}

.myInput-inputRow.myInput-md input[type="text"]:focus + label,
.myInput-inputRow.myInput-md input[type="password"]:focus + label,
.myInput-inputRow.myInput-md input[type="number"]:focus + label,
.myInput-inputRow.myInput-md input[type="tel"]:focus + label {
  top: -18px;
}

.myInput-inputRow.myInput-md .myInput-label {
  font-size: 15px;
}

.myInput-inputRow.myInput-md .myInput-labelTop {
  top: -18px;
  font-size: 12px;
}

.myInput-inputRow.myInput-sm {
  margin: 20px 0px 0px 0px;
}

.myInput-inputRow.myInput-sm input[type="text"],
.myInput-inputRow.myInput-sm input[type="password"],
.myInput-inputRow.myInput-sm input[type="number"],
.myInput-inputRow.myInput-sm input[type="tel"] {
  font-size: 15px;
}

.myInput-inputRow.myInput-sm input[type="text"]:focus + label,
.myInput-inputRow.myInput-sm input[type="password"]:focus + label,
.myInput-inputRow.myInput-sm input[type="number"]:focus + label,
.myInput-inputRow.myInput-sm input[type="tel"]:focus + label {
  top: -15px;
}

.myInput-inputRow.myInput-sm .myInput-label {
  font-size: 15px;
}

.myInput-inputRow.myInput-sm .myInput-labelTop {
  top: -15px;
  font-size: 12px;
}

.myInput-inputRow input[type="text"],
.myInput-inputRow input[type="password"],
.myInput-inputRow input[type="number"],
.myInput-inputRow input[type="tel"] {
  width: 100%;
  border: 0px;
  border-bottom: 1px solid #d4d5d9;
  color: #282c3f;
  outline: none;
  padding-bottom: 5px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.myInput-inputRow input[type="text"]:disabled,
.myInput-inputRow input[type="number"]:disabled,
.myInput-inputRow input[type="tel"]:disabled {
  color: #94969f;
  background-color: white;
  -webkit-text-fill-color: #94969f;
}

.myInput-inputRow input[type="text"]:focus,
.myInput-inputRow input[type="password"]:focus,
.myInput-inputRow input[type="number"]:focus,
.myInput-inputRow input[type="tel"]:focus {
  border-bottom: 1px solid #14cda8;
}

.myInput-inputRow input[type="text"]:focus + label,
.myInput-inputRow input[type="password"]:focus + label,
.myInput-inputRow input[type="number"]:focus + label,
.myInput-inputRow input[type="tel"]:focus + label {
  color: #14cda8;
  font-size: 12px;
  top: -20px;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.myInput-inputRow .myInput-overlayInfo {
  position: absolute;
  top: -8px;
  right: 0px;
  pointer-events: none;
}

.myInput-inputRow .myInput-label {
  position: absolute;
  top: 0px;
  left: 0px;
  font-size: 16px;
  color: #94969f;
  pointer-events: none;
}

.myInput-inputRow .myInput-labelTop {
  position: absolute;
  font-size: 12px;
  top: -20px;
  left: 0px;
  pointer-events: none;
  color: #94969f;
}

.myInput-inputRow .myInput-inputError {
  border-bottom: 1px solid #ff5a5a !important;
}

.myInput-inputRow .myInput-error {
  visibility: hidden;
  height: 20px;
  margin: 2px 0px 0px 0px;
  color: #ff5a5a !important;
  font-size: 12px;
}

.myInput-inputRow .myInput-visible {
  visibility: visible;
}

.passwordStrength-passwordWidgets {
  border-radius: 2px;
  margin-top: 6px;
}

.passwordStrength-passwordWidgets {
  border-radius: 2px;
  margin-top: 6px;
}

.passwordStrength-passwordWidgets .passwordStrength-disabled {
  background-color: rgba(40, 44, 63, 0.05);
}

.passwordStrength-passwordWidgets .passwordStrength-widget {
  padding: 5px 10px 6px 8px;
  margin-right: 6px;
  margin-bottom: 6px;
  display: inline-block;
}

.passwordStrength-passwordWidgets .passwordStrength-widgetText {
  font-size: 10px;
  font-weight: 500;
}

.passwordStrength-passwordWidgets
  .passwordStrength-widget.passwordStrength-disabled
  .passwordStrength-widgetText {
  opacity: 0.5;
}
.passwordStrength-passwordWidgets
  .passwordStrength-disabled
  .passwordStrength-widgetText {
  color: #282c3f;
  opacity: 0.5;
}

.passwordStrength-passwordWidgets .passwordStrength-error {
  border: solid 1px #ff5722;
}

.passwordStrength-passwordWidgets
  .passwordStrength-success
  .passwordStrength-widgetText {
  color: #14958f;
}

.passwordStrength-passwordWidgets .passwordStrength-success {
  background-color: #e7f4f2;
}

.resetPassword-disabled {
  cursor: auto !important;
  background-color: #bfc0c6 !important;
}

.resetPassword-editButton {
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px;
  text-align: center;
  font-weight: 800;
  background-color: #20bd99;
  margin: 30px 20px 30px 20px;
  color: white;
  border-radius: 5px;
}

.bag-badge {
  position: absolute;
  top: 9px;
  right: 4px;
  color: #fff;
  background: #ff0000;
  font-weight: 700;
  border-radius: 50%;
  font-size: 11px;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 19px;
}

.bag-badge-desktop {
  position: absolute;
  top: -22px;
  right: -10px;
  color: #fff;
  background: #ff0000;
  font-weight: 700;
  border-radius: 50%;
  font-size: 11px;
  display: inline-block;
  font-family: helvetica, arial, sans-serif;
  width: 19px;
  height: 19px;
  text-align: center;
  line-height: 19px;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }

  50% {
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    transform: scaleX(1);
  }
}

.pulse {
  animation-name: pulse;
}
