body {
  font-family: "Assistant", sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #424553;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
}

* {
  font-family: "Assistant", sans-serif !important;
}

.bgColor {
  background: linear-gradient(to bottom right, #e9fff6, #dffaf3);
}

.bgColor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layout {
  position: relative;
}

#mainContent {
  padding-top: 0 !important;
  margin: 28px auto 0;
  max-width: 400px;
  background-color: #fff;
}

#mainContent {
  margin-top: 100px;
}

@media (max-width: 768px) {
  #mainContent {
    margin-top: 0;
    min-height: 100dvh;
  }
}

#reactPage {
  min-height: calc(100vh - 50px);
}

.authPage {
  position: relative;
}

.formContainer {
  padding: 10px 10%;
}

.Gap {
  padding-top: 60px !important;
}

.authHeader {
  font-size: 20px;
  font-weight: 700;
}

.plHeader {
  margin-bottom: 18px;
}

.authHeader p {
  color: rgba(40, 44, 63, 0.7);
  font-size: 12px;
}

@media (max-width: 768px) {
  .authHeader p {
    font-size: 10px;
  }
}

.password-page-height {
  height: 100%;
}

.base-password {
  margin-top: 5px;
}

.password-reset-card {
  background-color: white;
  padding: 10px 0px 20px;
  margin-bottom: 10px;
  text-align: justify;
  -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.25);
  padding: 55px 40px 20px 40px;
}

.page-page {
  background-color: #f5f5f6;
}

.page-password-reset {
  font-size: 14px;
  background: #f5f5f6;
}

@media (min-width: 780px) {
  .page-password-reset {
    width: 40%;
    display: block;
    margin: 0 auto;
    background: #ffffff;
  }
  .page-page {
    margin: 10% 5%;
    min-height: 650px;
    background-color: white;
  }
}

@media (min-width: 980px) {
  .page-page {
    margin: 8% auto;
    max-width: 980px;
  }

  .page-password-reset {
    width: 40%;
    background: #ffffff;
  }
}
