body {
  font-family: Assistant, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #424553;
  background-color: #fff;
  min-height: 100%;
  margin: 0;
}

.bgColor {
  background: linear-gradient(to bottom right, #e9fff6, #dffaf3);

}

.bgColor {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.layout {
  position: relative;
}

#mainContent {
  padding-top: 0 !important;
  margin: 28px auto 0;
  max-width: 400px;
  background-color: #fff;
}

#mainContent {
    margin-top: 100px;
}

#reactPage {
  min-height: calc(100vh - 50px);
}

.authPage {
  position: relative;
}

.formContainer {
  padding: 10px 10%;
}

.Gap {
  padding-top: 60px !important;
}

.authHeader {
  font-size: 20px;
  font-weight: 700;
}

.plHeader {
  margin-bottom: 20px;
}
