body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #424553;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.desktop-base-emptyCart {
  max-width: 650px;
  margin: 24px auto;
}

.emptyCart-base-mainContainer {
  min-height: 600px;
  position: relative;
  background-color: #ffffff;
}

.emptyCart-base-subContainer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 400px;
  text-align: center;
}

.emptyCart-base-emptyBagImage {
  margin-bottom: 10px;
  margin-top: 10px;
}

.imageBanner-base-container {
  display: inline-block;
}

.emptyCart-base-emptyText {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 2px;
}

.emptyCart-base-emptyDesc {
  font-size: 14px;
  color: #7e818c;
}

.emptyCart-base-addFromWishlist {
  text-align: center;
  margin-top: 25px;
  font-size: 14px;
}

.button-base-button {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  background: #1abc9c;
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 2px;
  letter-spacing: 1px;
}

.emptycart-toWishlist {
  background: white;
  color: #1abc9c;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #1abc9c;
  display: inline-block;
}

@media (max-width: 480px) {
  .emptyCart-base-mainContainer {
    min-height: 380px;
  }

  .emptyCart-base-subContainer {
    height: 260px;
  }

  .desktop-base-emptyCart {
    margin: 0;
  }
}

.desktopBase-cartLayout {
  max-width: 980px;
  margin: auto;
  padding: 0 10px 16px;
  min-height: 320px;
  color: #282c3f;
}

.itemBlockDesktop-LeftSide {
  display: inline-block;
  width: 64%;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  padding-top: 32px;
}

.desktopAddress-baseContainer {
  margin-bottom: 8px;
  background-color: rgb(223, 250, 243);
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #eaeaec;
  cursor: pointer;
}

.desktopAddress-baseTitle {
  font-size: 14px;
  max-width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desktopAddress-baseTitle span {
  text-transform: capitalize;
  max-width: 85%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.desktopAddressHighLight {
  font-size: 14px;
  font-weight: 700;
  white-space: pre;
}

.bulkAction-containerDesktop {
  line-height: 15px;
  display: flex;
  align-items: center;
  margin-top: 26px;
  margin-bottom: 26px;
  padding: 0 12px 0 10px;
  font-weight: 700;
  font-size: 16px;
  color: #282c3f;
}

.bulkAction-desktopActionBase {
  border-top: 1px solid #eaeaec;
  display: flex;
}

.bulkAction-desktopButton {
  border-top: 0px;
  margin-left: auto;
  flex: 1;
}

.bulkAction-baseAction {
  width: auto;
  margin: 0px;
}

.bulkAction-baseActions {
  display: flex;
  flex: 1;
  text-align: center;
  margin: 12px 0 12px;
  justify-content: center;
}

.bulkAction-baseActions:last-child {
  border-left: 1px solid #d4d5d9;
}

.bulkAction-desktopBaseActionBtn {
  text-transform: uppercase;
  font-weight: 700;
  color: #696b79;
  padding: 0px;
  height: 20px;
  font-size: 12px;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;
}

.bulkAction-desktopBaseActionBtn-remove {
  color: #535766;
  padding: 6px 0px 6px 0;
  height: 32px;
}

.desktopItems-marginBase {
  margin-bottom: 0px;
}

.desktopItem-base-item {
  position: relative;
  margin-bottom: 8px;
}

.desktopItem-baseContainer {
  background: white;
  font-size: 14px;
  padding: 12px 8px 1px 8px;
  margin-bottom: 8px;
  position: relative;
  display: flow-root;
  border: 1px solid #eaeaec;
  border-radius: 4px;
}

.desktopItem-baseContainer:last-child {
  margin-bottom: 0px;
}

.desktopItem-baseContainerLeft {
  position: absolute;
  float: left;
}

.desktopItem-baseContainerRight {
  margin-left: 111px;
  padding-left: 12px;
  position: relative;
  min-height: 148px;
  margin-bottom: 12px;
}

.desktopItem-baseDetails {
  margin-bottom: 10px;
  min-height: 97px;
}

.desktopItem-baseDetails,
.desktopItem-baseDetailsLink {
  text-decoration: none;
  padding-bottom: 0;
  margin-right: 12px;
}

.desktopItem-base-title {
  font-weight: 700;
  font-size: 13px;
  margin-bottom: 4px;
}

.desktopItem-base-title,
.desktopItem-baseDetailsLink {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 16px;
}

.desktopItem-baseDetailsLink {
  display: block;
}

.itemBlockDesktop-RightSide {
  vertical-align: top;
  display: inline-block;
  width: 35%;
  padding: 24px 0px 0px 16px;
}

.desktop-base-priceBlock {
  margin-bottom: 16px;
}

.priceBlock-base-priceHeader {
  font-size: 12px;
  font-weight: 700;
  margin: 24px 0px 16px;
  color: #535766;
}

.placeOrder-button {
  font-size: 14px;
  padding: 10px 16px;
  width: 100%;
  letter-spacing: 1px;
  font-weight: 700;
  border-radius: 2px;
  border-width: 0px;
  background-color: rgb(32 189 153);
  color: rgb(255, 255, 255);
  cursor: pointer;
}
