.checkoutDesktop-baseLayout {
  max-width: 1000px;
  margin: 0 auto 24px;
  display: flex;
}

.checkoutDesktop-baseLeft {
  width: 67.5%;
  vertical-align: top;
  padding-right: 35px;
  padding-top: 12px;
}

.checkoutDesktop-titleContainer {
  margin-bottom: 12px;
  height: 45px;
}

.checkoutDesktop-title {
  float: left;
  font-weight: 700;
  color: #282c3f;
  font-size: 18px;
  margin: 12px 0 12px 0;
}

.checkoutDesktop-titleDefault {
  font-size: 12px;
  font-weight: 700;
  margin: 12px 0 16px 0;
  color: #535766;
}

.checkoutDesktop-addressBox {
  border: 1px solid #eaeaec;
  margin-bottom: 8px;
  vertical-align: top;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 4px rgba(40, 44, 63, 0.2);
}

.checkoutDesktop-inner {
  padding: 19px 16px 0 48px;
}

.checkoutDesktop-dividerCenter {
  border-right: 1px solid #eaeaec;
}

.checkoutDesktop-baseRight {
  width: 32.5%;
  vertical-align: top;
  padding-top: 8px;
}

.checkoutBase-priceBlock {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.checkout-priceBlock {
  padding-left: 16px;
  padding-top: 16px;
  margin-bottom: 16px;
}

.checkoutButton-desktopLay {
  margin-left: 16px;
  padding-left: 0px;
}

.desktopAddress-baseAddressForm {
  width: 450px;
  margin-left: 0;
  border: 1px solid #eaeaec;
  margin-top: 20px;
  position: relative;
}

.addressForm-containerDesktop {
  display: flex;
  padding-top: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  background: #ffffff;
}

.noMargin {
  margin-top: 0px !important;
}

.addressForm-baseFormHeader {
  text-transform: uppercase;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #282c3f;
}
