.footer {
  background: rgb(250, 251, 252);
  color: #696B79;
  padding: 40px 20px;
  margin-top: 60px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-left h2 {
  margin: 0;
  font-size: 20px;
}

.footer-left p {
  font-size: 14px;
  color: #696B79;
}

.footer-center {
  display: flex;
  gap: 20px;
}

.footer-center a {
  color: #696B79;
  text-decoration: none;
  font-size: 14px;
}

.footer-center a:hover {
  text-decoration: underline;
}

.footer-right p {
  font-size: 13px;
  color: #94969F;
  margin: 2px 0;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
  }
}
