#mobileCheckout {
  padding-top: 56px;
}

.checkoutMobile-baseContainer {
  background: #f4f4f5;
  min-height: 100vh;
}

.checkoutMobile-baseMobile {
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.addressBlock-defaultAddr {
  background: white;
  padding: 16px;
  margin-top: 8px;
}

.addressBlock-addressTitle {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.addressTitle-startPosition {
  display: flex;
}

.addressBlock-addressName {
  font-weight: 700;
  font-size: 14px;
  color: #282c3f;
  text-transform: capitalize;
  word-break: break-all;
}

.addressBlock-defaultTag {
  color: #94969f;
  font-size: 12px;
  margin-left: 4px;
  font-weight: 300;
}

.addressBock-addressType {
  font-size: 10px;
  padding: 2px 8px;
  border-radius: 20px;
  color: #03a685;
  font-weight: 700;
  border: 1px solid #03a685;
  margin-left: 8px;
  line-height: 12px;
}

.addressBlock-addressChange {
  font-size: 14px;
  font-weight: 700;
  color: #20bd99;
  background: #fff;
  border: none;
}

.addressBlock-addressDetailBase {
  margin-top: 4px;
  text-transform: capitalize;
  font-size: 14px;
  line-height: 18px;
  display: flex;
  flex-direction: column;
  word-break: break-all;
}

.addressBlock-addressField {
  word-break: break-all;
}

.addressBlocks-base-addressDetail {
  margin-top: 12px !important;
}

.addressBlock-mobileNum {
  margin: 12px 0 16px;
}

.addressBlock-mobileNum :nth-child(2) {
  font-weight: 700;
}

.checkoutItems-baseContainer {
  display: flex;
  flex-direction: column;
}

.checkoutItems-baseTitle {
  padding: 16px 16px 8px;
  text-transform: uppercase;
  color: #535766;
  font-size: 12px;
  font-weight: 700;
}

.checkoutItemsList {
  background-color: #ffffff;
  padding: 8px;
}

.checkoutItems-innerCont {
  padding: 8px 8px 12px;
  display: flex;
  align-items: center;
}

.checkoutItems-innerCont:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.checkoutItem-image {
  height: 48px;
  width: 36px;
  display: inline-block;
}

img {
  border-style: none;
}

.checkoutItems-deliveryInfo {
  margin-left: 12px;
  color: #282c3f;
  font-size: 14px;
  max-width: calc(100% - 48px);
}

.mobileCheckout-stickyButton {
  position: relative;
  margin-bottom: 40px;
  border: none;
  padding-bottom: 20px;
}

.mobileCheckout-stickyButton-base {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: #ffffff;
  border-top: 1px solid #d4d5d9;
  box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.15);
  z-index: 11;
}

.stickyButton-base {
  padding: 10px;
  display: flex;
  align-items: center;
}

.stickyButton-placeOrder {
  width: 60%;
  padding: 10px;
  float: right;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #d4d5d9;
  background-color: #20bd99;
  color: #ffffff;
  border-radius: 4px;
  height: 50px;
  font-weight: 700;
  letter-spacing: 1px;
}

.stickyButton-placeOrderFullW {
  width: 100%;
  margin-bottom: 10px;
}

.addressForm-container {
  padding-bottom: 70px;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  position: relative;
  min-height: 100vh;
}

.addressForm-container-scrollable {
  overflow-y: auto;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-left: 16px;
  padding-right: 16px;
}

.addressForm-container-scrollableDesktop {
  max-height: 600px;
}

.addressForm-containerMT {
  margin-top: 16px;
}

.addressForm-containerMB {
  margin-top: 16px;
}

.addressForm-containerMobile {
  display: flex;
  padding: 12px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
  border-radius: 12px;
  background: #ffffff;
}

.addressForm-containerMobileHeader {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  color: #262a39;
}

.floatingInputRow {
  position: relative;
  display: inline-block;
  width: 100%;
}

.floatingInput-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.floatingLabel {
  display: -webkit-box;
  position: absolute;
  top: 11px;
  left: 13px;
  color: #94969f;
  transition-property: top;
  transition-duration: 0.1s;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.floatingInput-input {
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  font-size: 14px;
  padding: 12px;
  border: 1px solid #d4d5d9;
  background-color: transparent;
  font-weight: 300;
  border-radius: 4px;
  color: #282c3f;
  line-height: 14px;
}

.floatingInput-input:disabled {
  appearance: none;
  color: #282c3f;
  background-color: #f5f5f6;
  border: 0;
}

.floatingInput-input:focus + .floatingLabel,
.floatingInput-input:not(:placeholder-shown) + .floatingLabel {
  top: -7px;
  left: 10px;
  font-size: 11px;
  background: #fff;
  padding: 0 4px;
  color: #282c3f;
}

.floatingInput-input:focus {
  outline: none;
  border-color: #282c3f;
}

.floatingInput-container:has(input[value]:not([value=""])) label {
  top: -8px;
  font-size: 12px;
  color: #666;
  background: #fff;
  padding: 0 4px;
}

.floatingInput-cityLocality {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.halfWidth-form {
  width: 47.5% !important;
  margin-bottom: 0;
}

.floatingInput-addressTypes {
  display: flex;
  flex-wrap: wrap;
}

.floatingInput-addressTypeIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-right: 12px;
}

.floatingInput-radioIcon {
  fill: #20bd99;
  width: 20px;
  height: 20px;
}

.divider {
  border: 0.5px solid;
  border-color: #d4d5d8;
  width: 100%;
  opacity: 0.1;
}

.isDefault {
  display: flex;
  align-items: center;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 4px 0 0;
  line-height: normal;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

.floatingInput-checkbox {
  width: 0px;
  height: 0px;
}

.addressMobile-stickyActions {
  box-shadow: 0px 0px 8px 0px #d4d5d8;
  display: flex;
  padding: 8px 16px 16px 16px;
  align-items: flex-start;
  gap: 8px;
  position: fixed;
  background: #ffffff;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.address-info-text {
  font-size: 12px;
  color: #ff5722;
  margin: 6px 12px 12px;
}

.floatingInput-addressTypeIcon svg {
  fill: #26a69a;
}

.floatingInput-addressTypeIcon.active svg {
  fill: #26a69a; 
}

.floatingInput-checkbox {
  display: none;
}

.customCheckbox {
  stroke: #999;
  fill: none;
  stroke-width: 1.5;
}

.customCheckbox .tick {
  stroke: white;
  stroke-width: 2;
  fill: none;
  opacity: 0;
}

.isDefault input:checked + .customCheckbox {
  fill: #26a69a;
  stroke: #26a69a;
}

.isDefault input:checked + .customCheckbox .tick {
  opacity: 1;
}
