body {
  width: 100%;
  overflow-x: hidden;
  font-family: Assistant, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

main {
  display: block;
}

.itm-itm-container {
  max-width: 1600px;
  min-width: 1128px;
  margin: 90px auto 0;
  position: relative;
  min-height: 700px;
  padding-bottom: 15px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #fff;
}

.itm-details {
  position: relative;
}

.common-clearfix:after,
.common-clearfix:before {
  content: " ";
  display: table;
}

.image-grid-container {
  float: left;
  width: 58%;
}

.image-grid-col {
  width: 49.5%;
  float: left;
  margin-bottom: 1%;
  position: relative;
}

.image-grid-imageContainer {
  height: 0;
  padding-top: 133.33333333333331%;
  height: 500px;
  overflow: hidden;
  position: relative;
  border: 1px solid #f5f5f6;
}

.image-grid-image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-origin: border-box;
  background-size: cover;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  will-change: transform;
}

.image-grid-image:hover {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.itm-description-container {
  margin-top: 10px;
}

.itm-price-info {
  padding: 0 0 10px;
}

.itm-title,
.itm-name {
  margin-top: 0;
  margin-bottom: 0;
}

.itm-title {
  color: #282c3f;
  padding: 0 20px 0 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.itm-name {
  color: #535665;
  padding: 5px 20px 14px 0;
  font-size: 20px;
  opacity: 0.8;
  font-weight: 400;
}
